* {
    margin: 0px;
    text-decoration: none;
}

a {
    color: rgb(232, 229, 229);
}

header {
    margin-left: 0px;
    width: 100%;
    height: 1440px;
    background-size: cover;
    background-repeat: no-repeat;
}

.basket__close {
    margin-top: 5px;
    margin-left: 97.5%;
    background: url(./photo/close-outline.svg);
    width: 70px;
    height: 70px;
    border: 0px;
}

.headerSection {
    display: flex;
}

.headerLogoImg {
    margin-top: 60px;
    margin-left: 600px;
    width: 165px;
    height: 100px;
    background-image: url(photo/CompanyLogo.svg);
    border: 1px solid #ffffff;
    background-repeat: no-repeat;
}


.headerMenu {
    margin-left: 1202px;
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 150px;
    width: 660px;
    height: 29px;
}

.headerLogo_text {
    margin-top: 10px;
    margin-left: 375px;
}

.headerMenu_item {
    font-family: 'Roboto';
    font-style: normal;
    color: #000000;
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
}

.headerMenu__openBasket {
    background-image: url(./photo/basket-outline.svg);
    margin-top: -20px;
    margin-left: 38%;
    border: 0px;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    font-style: normal;
    background-color: #CD9158;
    position: fixed;
}

.startScreen_img {
    width: 3440px;
    height: 1440px;
    flex-shrink: 0;
}

.startscreen__background {
    margin-top: -600px;
    margin-left: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.startScreen_Inf {
    margin-top: 500px;
    margin-left: 200px;
}

.startScreen_text {
    margin-left: 251px;
    max-width: 960px;
    width: 960px;
}

.startScreen_textName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 40px;
    color: #000000;
}

.startScreen_texth2 {
    margin-top: 50px;
    margin-left: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}

.startScreen_button1 {
    margin-top: 150px;
    margin-left: 500px;
    width: 300px;
    height: 120px;
    background: #CD9158;
    border: 1px solid #CD9158;
    border-radius: 90px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
}

.advantages {
    width: 100%;
    height: 4364px;
}

/* .advantagesName {
    margin-top: 265px;
    margin-left: 40%;
} */

.advantagesName_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 77px;
    color: #000000;
}

.advantagesImg1 {
    margin-top: 400px;
    margin-left: 1220px;
}

.advantagesImg2 {
    margin-top: 313px;
    margin-left: 661px;
}

.advantagesImg3 {
    margin-top: 313px;
    margin-left: 1080px;
}

.merch {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.merchName {
    margin-top: 218px;
}

.merchName_text {
    margin-bottom: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    color: #000000;
}

.merchContainer {
    width: 3112px;
    height: 100%;
    margin-left: 134px;
    border-color: white;
    display: flex;
    gap: 50px;
    row-gap: 100px;
    flex-wrap: wrap;
}

.merchKard {
    width: 1000px;
    height: 1208px;
    border: 2px solid black;
    border-radius: 80px;
    margin-bottom: 400px;
}

.merchKard1_img {
    margin-top: 152px;
    margin-left: 181px;
}

.merchKard_text1 {
    margin-top: 175px;
    margin-left: 114px;
    max-width: 386px;
    max-height: 116px;
    width: 386px;
    height: 116px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.merchKard_text2 {
    margin-top: 18px;
    margin-left: 114px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: #7D5329;
    text-decoration: none;
}

.merchKard_text3 {
    margin-top: -93px;
    margin-left: 570px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    color: #000000;
}

.merchKard__openButton {
    margin-top: 90px;
    margin-left: 220px;
    width: 561px;
    height: 162px;
    border: 3px solid #000000;
    border-radius: 90px;
    background-color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}

.merchKard_basket {
    width: 500px;
    height: 400px;
    background-color: rgb(159, 159, 159);
    display: none;
    transition: all 2s ease-out;
    z-index: 3;
    position: fixed;
}

.merchKard_basket__active {
    display: block;
}

.merchKard_basket__show {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s ease-out;
}

.merchKard_basket__hide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s ease-out;
}

.js__merchCardDetails {
    margin-top: 250px;
    margin-left: 1055px;
    height: 900px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    position: absolute;
    z-index: 10;
    display: flex;
}

.js__merchCardDetails_close {
    margin-left: -94.5%;
    width: 150px;
    height: 100px;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.js__merchCardDetails_img {
    margin-top: 200px;
    margin-left: 76px;
    width: 406px;
    height: 310px;
}

.merchKard_Text1 {
    margin-top: 240px;
    margin-left: 100px;
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 400px;
}

.merchKard_Text3 {
    margin-top: 380px;
    margin-left: -150px;
    color: #BB6746;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.js__merchCardDetails_inf {
    margin-top: 600px;
    margin-left: 100px;
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 500px;
    height: 400px;
    position: absolute;
}

.basket {
    margin-left: 5vw;
    margin-top: 3vh;
    width: 90vw;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    display: none;
    position: fixed;
    z-index: 1;
    border-radius: 30px;
    background-color: #CD9158;
}

.basket_card {
    margin-left: 50px;
    margin-top: 30px;
    z-index: 2;
    position: relative;
    height: 100px;
    background-color: #CD9158;
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.basket_productImage {
    margin-left: 50px;
    width: 110px;
    height: 110px;
}

.basket_productName, .basket_productPrice {
    margin-left: 80px;
    margin-top: 32px;
    font-size: 30px;
    font-weight: 400;
    color: black;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.basket_productPrice {
    margin-left: 150px;
    font-size: 24px;
    margin-top: 38px;
    width: 95px;
}

.product_counter_container {
    width: 200px;
    margin-left: 300px;
    display: flex;
}

.product_value {
    margin-left: 10px;
    margin-top: 32px;
    font-size: 30px;
    font-weight: 400;
    color: black;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.product_dicrement {
    margin-top: 32px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color: black;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    border: 0px;
    border-radius: 50%;
    background-color: #fff;
}

.product_increment {
    margin-left: 10px;
    margin-top: 32px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    color: black;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    border: 0px;
    border-radius: 50%;
    background-color: #fff;
}

.basket_deleteProduct {
    margin-right: 30px;
    margin-left: 20%;
    margin-top: 15px;
    width: 60px;
    height: 60px;
}

.comments {
    width: 100%;
    background-color: white; 
}

.feedback__container {
    width: 100%;
    margin: 10px auto;
    background: #ffffff;
    padding: 30px;
}

.feedback__slider {
    width: 100%;
    height: 1500px;
    margin: 20px auto;
    overflow: hidden;    
}

.feedback__slider-line {
    width: 2400px;
    height: 850px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
    background-color: #ffffff;

    /* / Меняя это значение не забудь поменять значение отступа в формуле в файле script.js на 21й строке, иначе активный слайд будет постоянно смещаться / */
    gap: 200px; 
}

.feedback__slider-lineItem {
    margin-top: 200px;
    width: 700px;
    height: 850px;
    flex-shrink: 0;
    background-color: #FFF;
    border: 2px solid black;
    border-radius: 30px;
}

.feedback__slider-lineItem.active {
    margin-right: 100px;
    width: 700px;
    height: 850px;
    opacity: 1;
}

.feedback__slider-lineItem:not(.active) {
    transform: scale(1);
    opacity: 0.5;
  }

.feedback {
    margin-top: 150px;
    margin-bottom: 200px;
    width: 100%;
    height: 1100px;
    display: flex;
}

.feedback__name {
    margin-left: 1500px;
    color: black;
}

.feedback_block {
    margin-left: 260px;
    margin-right: 100px;
    width: 700px;
    height: 850px;
    background-color: #FFF;
    border: 2px solid black;
    border-radius: 50px;
}

.feedback_block_user {
    display: flex;
}

.feedback_block_userImg {
    margin-top: 53px;
    margin-left: 100px;
    width: 120px;
    height: 120px;
    background-color: #FFF;
    background-image: url(./photo/User_feedback.svg);
    background-repeat: no-repeat;
}

.feedback_block_userName {
    margin-top: 90px;                           
    margin-left: 130px;
    width: 227px;
    height: 35px;
    color: #000;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feedback_block_advantagesName {
    margin-top: 40px;
    margin-left: 66px;
    width: 154px;
    height: 23px;
    color: #CD9158;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.feedback_block_Txt {
    margin-top: 24px;
    margin-left: 92px;
    width: 550px;
    height: 100px;
    color: #000;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.feedback_block_disadvantagesName {
    margin-top: 20px;
    margin-left: 66px;
    width: 154px;
    height: 23px;
    color: #CD9158;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.feedback_block_Txt {
    margin-top: 24px;
    margin-left: 92px;
    width: 550px;
    height: 100px;
    color: #000;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.feedback_block_commentsName {
    margin-top: 20px;
    margin-left: 66px;
    width: 154px;
    height: 23px;
    color: #CD9158;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.feedback_block_Txt {
    margin-top: 24px;
    margin-left: 92px;
    width: 550px;
    height: 100px;
    color: #000;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.feedback__slider-prev, .feedback__slider-next {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
    margin-top: 200px;
}

.feedback__controls {
    margin-top: -400px;
    margin-left: 1570px;
}

.feedback__slider-prev:hover, .feedback__slider-next:hover {
    background: orangered;
}

.feedback__slider-prev:active, .feedback__slider-next:active {
    background: #000;
    color: #fff;
}

footer {
    margin-top: 500px;
    background-color: #b3793f;
    width: 100%;
    height: 800px;
}

.footer_inf {
    display: flex;
}

.footerInf_chapter1 {
    margin-left: 300px;
    margin-top: 50px;
    margin-right: 100px;
}

.footerInf_chapter_items {
    margin-top: 10px;
    color: rgb(232, 229, 229);
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.footerInf_item_toCustomers {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.footerInf_chapter2 {
    margin-top: 50px;
    margin-right: 100px;
}

.footerInf_item_Company {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.footerInf_chapter3 {
    margin-top: 50px;
}

.footerInf_item_forBuisness {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.footerInf_download {
    margin-top: 50px;
    margin-left: 300px;
    display: flex;
}

.footerInf_QRCod {
    margin-right: 50px;
}

.footerInf_downloadOS {
    display: grid;
    width: 330px;
    max-width: 330px;
}

.footerInf_downloadOS_txt {
    margin-top: 10px;
    color: rgb(232, 220, 220);
    font-size: 25px;
    font-weight: 600;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.footerInf_downloadOS_txtColor {
    color: #FFF;
}

.footerInf_Map {
    margin-top: -500px;
    margin-left: 67%;
}






@media (max-width: 1200px) {
    * {
        margin: 0px;
        text-decoration: none;
    }

    header {
        margin-left: 0px;
        width: 1000px;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
}